<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="urrato.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <urrato.Properties.Settings>
            <setting name="Volume" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="SoundsDir" serializeAs="String">
                <value>C:\\</value>
            </setting>
            <setting name="hot1" serializeAs="String">
                <value />
            </setting>
            <setting name="hot2" serializeAs="String">
                <value />
            </setting>
            <setting name="hot3" serializeAs="String">
                <value />
            </setting>
            <setting name="hot4" serializeAs="String">
                <value />
            </setting>
            <setting name="hot5" serializeAs="String">
                <value />
            </setting>
            <setting name="hot6" serializeAs="String">
                <value />
            </setting>
            <setting name="hot7" serializeAs="String">
                <value />
            </setting>
            <setting name="hot8" serializeAs="String">
                <value />
            </setting>
            <setting name="hot9" serializeAs="String">
                <value />
            </setting>
            <setting name="hot0" serializeAs="String">
                <value />
            </setting>
            <setting name="SingleModeActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
        </urrato.Properties.Settings>
    </userSettings>
</configuration>